<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <link rel="stylesheet" href="./styles/index.css" />
  <body>
    <main>
      <section class="messages-container">
        <h1>Messages</h1>
        <% messages.forEach((message) => { %>
        <div class="message-box">
          <div class="author-date-container">
            <p class="author-name"><%= message.user %></p>
            <p class="message-date"><%= message.added %></p>
          </div>
          <p class="message-text"><%= message.text %></p>
          <div class="animated-border-bottom"></div>
        </div>
        <% }); %>
        <a href="/new">Add new message</a>
      </section>
    </main>
  </body>
</html>
